.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Login-block {
    position: absolute;
    width: 460px;
    left: calc(50% - 230px);
    top: calc(50% - 250px);
    border: 1px solid black;
    text-align: center;
}
.Login-header
{
   text-align: center;
}
.Login-Row
{
  margin: 20px;
}
.Login-Col
{
margin-bottom: 5px;
}
